.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  background-color: #ffcd9e;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.screen1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

.container-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  color: black;
}

.main-para {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  word-spacing: 1px;
  width: 70%;
  color: #484848;
}

.strong-text {
  font-family: sans-serif;
  color: black;
  font-size: 26px;
  font-weight: 800;
  line-height: 32px;
  margin: 4vh 0;
}

.container-image {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.email-input {
  padding: 20px 90px;
  border-radius: 8px;
  outline: 4px solid black;
  background-color: azure;
  margin: 1.7rem 0 2rem 0;
}

.register-btn {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.8em 2em;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: sans-serif;
  background-color: #000000;
  cursor: pointer;
  margin: 35px;
  color: aliceblue;
}
