.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.Background_Img {
  position: absolute;
  width: 100vw;
  opacity: 50%;
  height: 852px;
  left: 0px;
  top: 0px;
  z-index: -1;
}
